<section>
  <div class="mx-6 py-6">
    <h1 class="text-3xl font-bold">Angular Pipes</h1>
    <p class="font-thin">String Pipes</p>
  </div>
  <div class="divider"></div>
  <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
      <div class="stat-title">LowerCasePipe</div>
      <div class="stat-value">{{ nameUpper() | lowercase }}</div>
      <div class="stat-desc">{{ nameUpper() }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">UpperCasePipe</div>
      <div class="stat-value">{{ nameLower() | uppercase }}</div>
      <div class="stat-desc">{{nameLower()}}</div>
    </div>

    <div class="stat">
      <div class="stat-title">TitleCasePipe</div>
      <div class="stat-value">{{ fullName() | titlecase }}</div>
      <div class="stat-desc">{{ fullName() }}</div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
      <div class="stat-title">Date Pipe</div>
      <div class="stat-value">{{ customDate() | date }}</div>
      <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Date | Long | GMT-4</div>
      <div class="stat-value">{{ customDate() | date:'long':'GMT-4' }}</div>
      <div class="stat-desc">{{customDate()}}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Date | Short | GMT-4</div>
      <div class="stat-value">{{ customDate() | date:'short':'GMT-4' }}</div>
      <div class="stat-desc">{{customDate()}}</div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
      <div class="stat-title">Date Pipe</div>
      <div class="stat-value">{{ customDate() | date: "dd/MM/yyyy" }}</div>
      <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Date Pipe</div>
      <div class="stat-value">{{ customDate() | date:'HH:mm:ss' }}</div>
      <div class="stat-desc">{{customDate()}}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Date Pipe</div>
      <div class="stat-value">{{ customDate() | date: "EEEE d, MMMM" }}</div>
      <div class="stat-desc">{{ customDate() }}</div>
    </div>
  </div>

</section>
